
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');


* {
                word-wrap: break-word;
                font-family: "font1";
}

@font-face {
        font-family: "font1";
        src: url("../font/comix-pro-2.ttf");
}



.modal >  h2, .modal > h3, .modal:first-child .demo-cont__credits-close  {
        background: #5433FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 560px) {
        .modal:nth-child(2)  td.year  {  
                background: rgb(166, 26, 190) !important;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, rgb(166, 26, 190), rgb(166, 26, 190)) !important;  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left,rgb(166, 26, 190), rgb(166, 26, 190)) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;  
        }
}
#logo {width: 80px;}

@font-face {
        font-family: "font2";
        src: url("../font/PWPerspective.ttf");
}
.modal {
    display: none;
    /*font-family: 'Coming Soon', cursive;*/
    padding: 100px 55px 50px 40px;
    color: rgb(166, 26, 190);
    font-family: "font1";
    overflow-y: scroll !important;
}


td.year,  .modal:nth-child(2) .demo-cont__credits-close  {    color: rgb(166, 26, 190) !important; }
.modal:last-child .demo-cont__credits-close {right: 60px !important;}
.modal:first-of-type {
        padding: 100px 55px 50px 60px;
    }

    .modal:nth-of-type(2) {
        padding: 100px 40px 50px 30px;
    }
    .modal:nth-of-type(2) h2 {margin-left: 20px;}
    .modal:last-of-type {
        padding: 100px 55px 50px 70px;
    }
.demo-cont {
        background-image: url("../img/bg.png");
        background-position: 107% 0;
        background-size: 610px 105%;
        background-repeat: no-repeat;
        background-color: transparent !important;
}

body {
        background: url("../img/green-paint-brush-textured-background.jpg") no-repeat center;  
        background-size: cover;
}

.fnc-nav__control { 
         font-family: "font1" !important;
      font-size: 17px;
      letter-spacing: 0.5px;
      font-weight: 300 !important;
}





ul {padding: 0 !important; margin-left: 20px;}

.modal li:not(li:last-child) {margin-bottom: 15px;}

footer {
        margin-top: 60px; text-align: center;
        letter-spacing: 0.5px;
}
#discord:hover {color: #5865F2;}
#instagram:hover {
        color: transparent;
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    #twitter:hover {color: rgb(29, 161, 242);}

#left table {text-align: left !important;}

#left table td:first-child {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        letter-spacing: 2px;
}

figure img {
        border-radius: 50%;
        margin-bottom: 20px;
}

#team {text-align: center;}

#team footer {padding-bottom: 30px;}
figcaption {width: 100%;}

#team article {width: 60%;}

#team article:first-child {margin-top: 30px;}
#team article:not(article:last-child) {margin-bottom: 30px;}

#team span:last-child, #left table td:last-child {font-size: 16px; margin-top: 5px; letter-spacing: 1px; line-height: 20px;  background: rgb(125, 125, 192);
        background: -webkit-linear-gradient(to left, rgb(125, 125, 192), white);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, rgb(125, 125, 192), white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
#team span:first-child {font-weight: 700; font-size: 20px; letter-spacing: 1px;    
       
}

#left table tr:not(tr:last-child) td {padding-bottom: 20px !important;}

#left table td:last-child {
        font-size: 13px;
}

footer  p, footer a {
        font-size: 15px !important;
        
   
}

td:first-child {font-weight: bold; padding-right: 8px;  font-size: 15px;}
table {text-align: center;}
.fs-13 {font-size: 11px; letter-spacing: 0px !important; font-weight: bold;}
th {font-size: 13px; letter-spacing: 0.5px; padding: 0 10px;}
table {width: 100%;}
td {
        padding: 5px;
        width: fit-content !important;
        letter-spacing: 0.5px !important;
}


a {text-decoration: none !important;}

p {font-size: 15.5px !important;}
.modal p.font-weight-bold  {color: rgb(218, 80, 231);}
th, td:not(td.year) {
        background:rgb(166, 26, 190);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left,rgb(166, 26, 190), white);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left,  rgb(166, 26, 190), white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
footer {color:rgb(187, 187, 187)}
li {font-size: 15px !important;}

.ls-1 {letter-spacing: 1px !important;}
.fs-17 {font-size: 17px;}

h2 {
        margin-bottom: 50px !important;
        font-weight: 700;
        letter-spacing: 5px;
        
}

h3 {
        margin-bottom: 30px !important;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 20px;
}
td.year  {font-size: 17px !important; letter-spacing:  2px !important;}
.modal:nth-child(2) td:not(td.year) {font-size: 14.5px !important; letter-spacing:  0.1px;}

#social-media {
    z-index: 3;
    top: 30px;
    right: 50px;
}

#social-media a { font-size: 17px !important; color: white}


#logo {
        z-index: 3;
        top: 20px;
        left: 25px;
    }


.modal:nth-child(2) footer {margin-top: 50px !important;}

/* Bootstrap Classes */

/* New Defined Classes */

/* Text & Color Classes */

/* Animations */

/* index.html */
button {font-family: 'Neucha', cursive;}

.fnc-slider {
                overflow: hidden;
                box-sizing: border-box;
                position: relative;
                height: 100vh;
        }
        .fnc-slider *, .fnc-slider *:before, .fnc-slider *:after {
                box-sizing: border-box;
        }
        .fnc-slider__slides {
                position: relative;
                height: 100%;
                transition: transform 1s 0.6666666667s;
        }
        .fnc-slider .m--blend-dark .fnc-slide__inner {
                background-color: #8a8a8a;
        }
        .fnc-slide__mask-inner {background-color: transparent !important;}
        .fnc-slider .m--blend-dark .fnc-slide__mask-inner {
                background-color: #575757;
        }
        .fnc-slider .m--navbg-dark {
                background-color: #575757;
        }
        .fnc-slider .m--blend-green .fnc-slide__inner {
                background-color: #6d9b98;
        }
        .fnc-slider .m--blend-green .fnc-slide__mask-inner {
                background-color: #42605E;
        }
        .fnc-slider .m--navbg-green {
                background-color: #42605E;
        }
        .fnc-slider .m--blend-red .fnc-slide__inner {
                background-color: #ea2329;
        }
        .fnc-slider .m--blend-red .fnc-slide__mask-inner {
                background-color: #990e13;
        }
        .fnc-slider .m--navbg-red {
                background-color: #990e13;
        }
        .fnc-slider .m--blend-blue .fnc-slide__inner {
                background-color: #59aecb;
        }
        .fnc-slider .m--blend-blue .fnc-slide__mask-inner {
                background-color: #2D7791;
        }
        .fnc-slider .m--navbg-blue {
                background-color: #2D7791;
        }
.fnc-slide:last-child * {background-color: transparent !important;}

        .fnc-slide {
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: translate3d(0, 0, 0);
        }
        .fnc-slide.m--before-sliding {
                z-index: 2 !important;
                transform: translate3d(100%, 0, 0);
        }
        .fnc-slide.m--active-slide {
                z-index: 1;
                transition: transform 1s 0.6666666667s ease-in-out;
                transform: translate3d(0, 0, 0);
        }
        .fnc-slide__inner {
                position: relative;
                height: 100%;
                background-size: cover;
                background-position: center top;
                transform: translate3d(0, 0, 0);
        }

     

        .m--global-blending-active .fnc-slide__inner, .m--blend-bg-active .fnc-slide__inner {
                background-blend-mode: luminosity;
        }
        .m--before-sliding .fnc-slide__inner {
                transform: translate3d(-100%, 0, 0);
        }
        .m--active-slide .fnc-slide__inner {
                transition: transform 1s 0.6666666667s ease-in-out;
                transform: translate3d(0, 0, 0);
        }
        .fnc-slide__mask {
                overflow: hidden;
                z-index: 1;
                position: absolute;
                right: 35%;
                top: 15vh;
                width: 50vw;
                height: 80vh;
           
             
                transition-timing-function: ease-in-out;
               
        }





@media screen and (max-width: 1700px) {
       .fnc-slide:nth-child(2) .fnc-slide__mask {
            
                right: 42%;
                top: 15vh;
             
               
        }

        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 17vh !important;
             
               
        }
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 17vh !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 45% auto !important;
                background-position: center;
                background-color: transparent;
        }

                
        .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 40% auto !important;
                background-position: center;
                background-color: transparent;
        }

}

@media screen and (max-width: 1500px) {
        
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 17vh !important;
             
               
        }

        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 17vh !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 55% auto !important;
                background-position: center;
                background-color: transparent;
        }

                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 50% auto !important;
                background-position: center;
                background-color: transparent;
        }
}

@media screen and (max-width: 1400px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 17vh !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 58% auto !important;
                background-position: center;
                background-color: transparent;
        }

        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 38% !important;
                top: 17vh !important;
             
               
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 55% auto !important;
                background-position: center;
                background-color: transparent;
        }
}


@media screen and (max-width: 1300px) {
        
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 38% !important;
                top: 15vh !important;
             
               
        }
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 15vh !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 52% auto !important;
                background-position: center;
                background-color: transparent;
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 55% auto !important;
                background-position: center;
                background-color: transparent;
        }
}


@media screen and (max-width: 1200px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 20vh !important;
                left: 4%!important;
                width: 80% !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 65% auto !important;
                background-position: center;
                background-color: transparent;
        }
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 55% !important;
                top: 15vh !important;
             left: 18% !important;
               
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 55% auto !important;
                background-position: center;
                background-color: transparent;
        }
}

@media screen and (max-width: 1100px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 15vh !important;
                left: 4%!important;
                width: 80% !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 65% auto !important;
                background-position: center;
                background-color: transparent;
        }
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 55% !important;
                top: 18vh !important;
             left: -15% !important;
               width: 85% !important;
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 75% auto !important;
                background-position: center;
                background-color: transparent;
        }
}


@media screen and (max-width: 960px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 15vh !important;
                left: 4%!important;
                width: 80% !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 75% auto !important;
                background-position: center;
                background-color: transparent;
        }
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 55% !important;
                top: 18vh !important;
             left: 1% !important;
               width: 85% !important;
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 75% auto !important;
                background-position: center;
                background-color: transparent;
        }
}


@media screen and (max-width: 815px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 15vh !important;
                left: 4%!important;
                width: 80% !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 80% auto !important;
                background-position: center;
                background-color: transparent;
        }
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 55% !important;
                top: 20vh !important;
             left: 1% !important;
               width: 85% !important;
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 85% auto !important;
                background-position: center;
                background-color: transparent;
        }
}
@media screen and (max-width: 750px) {
        .fnc-slide:last-child .fnc-slide__mask {
            
                right: 37% !important;
                top: 15vh !important;
                left: 4%!important;
                width: 80% !important;
             
               
        }


        .fnc-slide:last-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 85% auto !important;
                background-position: center;
                background-color: transparent;
        }
        .fnc-slide:first-child .fnc-slide__mask {
            
                right: 55% !important;
                top: 25vh !important;
             left: 5% !important;
               width: 85% !important;
        }


                
        .fnc-slide:first-child .fnc-slide__mask-inner {
                background-image: url("../img/sas.png") !important;
                background-repeat: no-repeat;
                background-size: 85% auto !important;
                background-position: center;
                background-color: transparent;
        }
}


@media screen and (max-width: 1380px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 42%;
                 top: 15vh;
              
                
         }
 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 45% auto !important;
                 background-position: center;
                 background-color: transparent;
         }
 
 }


 @media screen and (max-width: 1200px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 37% !important;
                 top: 15vh;
              
                
         }

 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 47% auto !important;
                 background-position: 35% auto !important;
                 background-color: transparent;
         }
 
 }



 
 @media screen and (max-width: 1100px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 55% !important;
                 top: 18vh !important;
                 left: 5% !important;
              
                
         }

 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 55% auto !important;
                 background-position: -20% auto !important;
                 background-color: transparent;
         }
 
 }

  
 @media screen and (max-width: 960px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 55% !important;
                 top: 20vh !important;
                 left: 20% !important;
              
                
         }

 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 55% auto !important;
                 background-position: -20% auto !important;
                 background-color: transparent;
         }
 
 }
         

   
 @media screen and (max-width: 900px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 55% !important;
                 top: 20vh !important;
                 left: 10% !important;
              
                width: 70% !important;
         }

 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 65% auto !important;
                 background-position: -20% auto !important;
                 background-color: transparent;
         }
 
 }
       


 @media screen and (max-width: 800px) {
        .fnc-slide:nth-child(2) .fnc-slide__mask {
             
                 right: 55% !important;
                 top: 20vh !important;
                 left: 4% !important;
              
                width: 80% !important;
         }

 
                 
         .fnc-slide:nth-child(2) .fnc-slide__mask-inner {
                 background-image: url("../img/sas.png") !important;
                 background-repeat: no-repeat;
                 background-size: 75% auto !important;
                 background-position: -20% auto !important;
                 background-color: transparent;
         }
 
 }

 
 @media screen and (max-width: 620px) {
        .fnc-slide__mask {
             display: none !important;
         }

 
            
 
 }

        .m--before-sliding .fnc-slide__mask {
                transform: rotate(-10deg) translate3d(200px, 0, 0);
                opacity: 0;
        }

  
        .m--active-slide .fnc-slide__mask {
                transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s;
                transform: translate3d(0, 0, 0);
                opacity: 1;
                
        }


        .m--previous-slide .fnc-slide__mask {
                transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
                transform: rotate(10deg) translate3d(-200px, 0, 0);
                opacity: 0;
        }
        .fnc-slide__mask-inner {
                z-index: -1;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100vw;
                height: 100vh;
                margin-left: -50vw;
                margin-top: -50vh;
          
            
                background-position: center center;
             
                transform-origin: 50% 16.5vh;
                transition-timing-function: ease-in-out;
        }

        
.fnc-slide__mask-inner {
        background-image: url("../img/sas.png") !important;
        background-repeat: no-repeat;
        background-size: 38% auto;
        background-position: center;
        background-color: transparent;
}

.fnc-slide .fnc-slide__mask * {background-color: transparent !important;}
    
        .m--before-sliding .fnc-slide__mask-inner {
                transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);
        }
        .m--active-slide .fnc-slide__mask-inner {
                transition: transform 0.7s 1.2222222222s;
                transform: translateX(0);
        }
        .m--previous-slide .fnc-slide__mask-inner {
                transition: transform 0.7s 0.3333333333s;
                transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);
        }
        .fnc-slide__content {
                position: absolute;
                left: 35%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
                width: 50%;
                z-index: 3 !important;
        }

        .fnc-slide:last-child  .fnc-slide__content {width: 70%; padding-top: 150px;}
   @media screen and (max-width: 1300px) and (min-width: 1200px) {
        .m--active-slide  .fnc-slide__heading-line:first-child { font-size: 62px !important;}
        .m--active-slide  .fnc-slide__content {width: 75% !important;}
        .m--active-slide span,  .m--active-slide h1 {left:5% !important; position: relative !important; padding-left: 20px !important; z-index: 5 !important;}
        .fnc-slide:nth-child(2).m--active-slide  .fnc-slide__heading-line:first-child { font-size: 60px !important;}
        .fnc-slide:first-child.m--active-slide  .fnc-slide__content {width: 60% !important;}
        .fnc-slide:nth-child(2).m--active-slide .fnc-slide__content {width: 75% !important;}

   }

   @media screen and (max-width: 1199px) and (min-width: 1100px) {
        .m--active-slide  .fnc-slide__content {width: 75% !important;}
        
        .m--active-slide span,  .m--active-slide h1 {left: 10% !important;}
        .fnc-slide:first-child.m--active-slide  .fnc-slide__content {width: 65% !important;}
        .fnc-slide:first-child.m--active-slide  .fnc-slide__heading-line:first-child { font-size: 62px !important;}
        .m--active-slide span,  .m--active-slide h1 {left:10% !important; position: relative !important; padding-left: 20px !important; z-index: 5 !important;}


        .fnc-slide:nth-child(2).m--active-slide  .fnc-slide__heading-line:first-child { font-size:58px !important;}
   
        .fnc-slide:nth-child(2).m--active-slide .fnc-slide__content {width: 55% !important;}
   }
@media screen and (max-width: 1700px) {
        .fnc-slide:nth-child(2)  .fnc-slide__content {width: 37% !important; left: 30% !important;}
        .fnc-slide:nth-child(2)  .fnc-slide__heading-line { font-size: 70px; line-height: 78px;}
        .fnc-slide:last-child  .fnc-slide__content {width: 60%; padding-top: 150px;}
}

@media screen and (max-width: 960px) {
        .fnc-slide:nth-child(2) .fnc-slide__content, .fnc-slide:first-child .fnc-slide__content  {width: 80% !important; padding-top: 70px; left: 10% !important;}
        .fnc-slide:nth-child(2)  .fnc-slide__heading-line, .fnc-slide:first-child .fnc-slide__content  {  text-align: center !important; font-size: 62px; line-height: 71px;}
        .fnc-slide__heading-line:nth-child(2) {
                padding-left: 0 !important;
        }
        .fnc-slide:nth-child(2)    .fnc-slide__action-btn, .fnc-slide:first-child  .fnc-slide__action-btn {
                position: relative;
                left: unset !important;
                margin: 0 auto !important;
        }

        .fnc-slide:first-child  .fnc-slide__action-btn {top: -20px !important;}

        .fnc-slide__heading-line {
                padding-bottom: 0 !important;
        }

      
        .fnc-slide__heading-line:nth-child(2) {
                padding-top: 30px !important;
        }
}

@media screen and (max-width: 650px) {
        .fnc-slide:nth-child(2) .fnc-slide__content, .fnc-slide:first-child .fnc-slide__content  {width: 90% !important; padding-top: 70px; left: 5% !important;}
        .fnc-slide:nth-child(2)  .fnc-slide__heading-line, .fnc-slide:first-child .fnc-slide__heading-line:first-child {  text-align: center !important; font-size:55px; line-height: 62px;}
}




@media screen and (max-width: 540px) {
        .fnc-slide:nth-child(2) .fnc-slide__content {width: 90% !important; padding-top: 70px; left: 5% !important;}
        .fnc-slide:nth-child(2)  .fnc-slide__heading-line {  text-align: center !important; font-size:45px; line-height: 52px;}
}

@media screen and (max-width: 420px) {
        .fnc-slide:nth-child(2) .fnc-slide__content {width: 90% !important; padding-top: 70px; left: 5% !important;}
        .fnc-slide:nth-child(2)  .fnc-slide__heading-line {  text-align: center !important; font-size:36px; line-height:43px;}
}
   
        @media screen and (max-width: 1300px) {
                .fnc-slide__mask {left: 15% !important;}
                .fnc-slide__content {left: 30% !important;}
                .fnc-slide:last-child  .fnc-slide__content {width: 65% !important; padding-top: 150px; left: 30% !important;}
                .fnc-slide:last-child  .fnc-slide__heading-line { font-size: 65px;}
                .fnc-slide__heading-line {
                       padding-left:  0 !important;
                       padding-right:  0 !important;
                }
        }

        @media screen and (max-width: 1223px) {
                .fnc-slide:last-child  .fnc-slide__content {width: 70% !important; padding-top: 150px; left: 30% !important;}
        }

        @media screen and (max-width: 1090px) {
                .fnc-slide__inner {width: 100vw !important;}
                .fnc-slide:last-child  .fnc-slide__content {width: 75% !important; padding-top: 150px; left: 12.5% !important;}
                .fnc-slide:last-child  .fnc-slide__heading-line {  text-align: center !important;}

                .pr-6 {width: 100% !important;}

                .fnc-slide:last-child    .fnc-slide__action-btn {
                        position: relative;
                        left: unset !important;
                margin: 0 auto !important;
                text-align: center !important;
                }
        
        }
@media screen and (max-width: 840px){
        .fnc-slide:last-child  .fnc-slide__content {width: 80% !important; padding-top: 100px; left: 10% !important;}
        .fnc-slide:last-child  .fnc-slide__heading-line {  font-size: 60px !important;}
        
}
        @media screen and (max-width:740px) {
                .fnc-slide:last-child  .fnc-slide__content {width: 90% !important; left: 5% !important;}
                .fnc-slide:last-child  .fnc-slide__heading-line {  font-size: 57px !important; text-align: center !important;}
        }

        @media screen and (max-width:600px) {
               
                .fnc-slide:last-child  .fnc-slide__heading-line {  font-size: 50px  !important; text-align: center !important; line-height: 58px !important; }
        }

        
        @media screen and (max-width:500px) {
               
                .fnc-slide:last-child  .fnc-slide__heading-line {  font-size: 45px  !important; text-align: center !important; line-height: 48px !important;}
        }

        @media screen and (max-width:440px) {
               
                .fnc-slide:last-child  .fnc-slide__heading-line {  font-size: 34px  !important; text-align: center !important; line-height: 41px !important;}
        }


        @media screen and (max-width:380px) {
               
                .fnc-slide:last-child  .fnc-slide__heading-line  .fnc-slide:nth-child(2)  .fnc-slide__heading-line {  font-size: 34px  !important; text-align: center !important; line-height: 41px !important;}
        }

        .fnc-slide__heading {
                margin-bottom: 10px;
                padding-top: 40px;
        }
        .fnc-slide__heading-line {
                overflow: hidden;
                position: relative;
                padding: 0 60px 0 40px;
                font-size: 68px;
                line-height: 70px;
                color: #fff;
                padding-bottom: 30px;
                letter-spacing: -1px;
               top: 30px;
              word-spacing: 3px;
              
        }
        .mt-30 { top: -5vh !important;}
        button[data-text = "Team"] { top: -10vh !important;}
        .pr-6 {width: 80%;}

        @media screen and (max-width: 460px) {
     
               .fnc-slide:first-child .fnc-slide__heading-line:first-child {  text-align: center !important; font-size:45px !important; line-height: 52px;}

                .fnc-slide__heading-line:nth-child(2) {
                   font-size: 25px !important;
                        line-height: 32px !important;
                }
        }

        @media screen and (max-width: 380px) {
     
                .fnc-slide:first-child .fnc-slide__heading-line:first-child {  text-align: center !important; font-size:40px !important; line-height: 48px;}
 
                 .fnc-slide__heading-line:nth-child(2) {
                    font-size: 25px !important;
                         line-height: 32px !important;
                 }
         }
         @media screen and (max-width: 350px) {
     
                .fnc-slide:last-child .fnc-slide__heading-line:first-child {  width: 95% !important; margin: 0 auto !important; text-align: center !important; font-size:32px !important; line-height: 40px;}
 
         }
         
        
        .fnc-slide__heading-line:nth-child(2) {
                padding-left: 50px;
                font-size: 30px;
                line-height: 40px;
                padding-bottom: 25px;
                letter-spacing: 4px;
        }
        .m--before-sliding .fnc-slide__heading-line {
                transform: translateY(100%);
        }
        :focus {
            outline: none !important;
        }
        .m--active-slide .fnc-slide__heading-line {
                transition: transform 1.5s 1s;
                transform: translateY(0);
        }

       

        .m--previous-slide .fnc-slide__heading-line {
                transition: transform 1.5s;
                transform: translateY(-100%);
                
        }

        .fnc-slide__heading-line span {
                display: block;
                font-family: "font2" !important;
        }
        .m--before-sliding .fnc-slide__heading-line span {
                transform: translateY(-100%);
        }
        .m--active-slide .fnc-slide__heading-line span {
                transition: transform 1.5s 1s;
                transform: translateY(0);
        }
        .m--previous-slide .fnc-slide__heading-line span {
                transition: transform 1.5s;
                transform: translateY(100%);
        }
        .fnc-slide__action-btn {
            position: relative;
            left: -20px;
            padding: 5px 10px;
            color: transparent;
            border: none;
            background: transparent;
            cursor: pointer;
            text-align: center;
            outline: none;
            text-transform: uppercase;
              letter-spacing: 4px;
              font-size: 14px;
              font-weight: 700;
              top: -10px;
             
              z-index: 3;
                
          }
          .fnc-slide__action-btn span {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            
            perspective: 1000px;
            transform-style: preserve-3d;
            transition: transform 0.3s;
            transform-origin: 50% 0;
            color: #fff;
            
          }
          .fnc-slide__action-btn span:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          .fnc-slide__action-btn span:after {
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 20px;
           
            opacity: 0;
            transform-origin: 50% 0;
            transform: translateY(100%) rotateX(-90deg);
            transition: opacity 0.15s 0.15s;
          }


          .fnc-slide__action-btn:hover span {
            transform: rotateX(90deg);
          }
          .fnc-slide__action-btn:hover span:after {
            opacity: 1;
            transition: opacity 0.15s;
          }
        .fnc-nav {
                z-index: 5;
                position: absolute;
                right: 0;
                bottom: 0;
        }
        .fnc-nav__bgs {
                z-index: -1;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
        }
        .fnc-nav__bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
        }
        .fnc-nav__bg.m--nav-bg-before {
                z-index: 2 !important;
                transform: translateX(100%);
        }
        .fnc-nav__bg.m--active-nav-bg {
                z-index: 1;
                transition: transform 1s 0.6666666667s;
                transform: translateX(0);
        }
        .fnc-nav__control {
                overflow: hidden;
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 150px;
                height: 70px;
                color: #fff;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
      
                transition: background-color 0.5s;
                
        }
        .fnc-nav__control.m--active-control {
                background: #1F2833;
        }
        .fnc-nav__control-progress {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                transform-origin: 0 50%;
                transform: scaleX(0);
                transition-timing-function: linear !important;
        }
        .m--with-autosliding .m--active-control .fnc-nav__control-progress {
                transform: scaleX(1);
        }
        .m--prev-control .fnc-nav__control-progress {
                transform: translateX(100%);
                transition: transform 0.5s !important;
        }
        .m--reset-progress .fnc-nav__control-progress {
                transform: scaleX(0);
                transition: transform 0s 0s !important;
        }
        .m--autosliding-blocked .fnc-nav__control-progress {
                transition: all 0s 0s !important;
                transform: scaleX(0) !important;
        }
        
        /* NOT PART OF COMMON SLIDER STYLES */
        body {
                margin: 0;
        }
        
        .demo-cont {
                overflow: hidden;
                position: relative;
                height: 100vh;
                perspective: 1500px;
        }


.demo-cont__credits {
        box-sizing: border-box;
        overflow-y: auto;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: 500px;
        height: 100%;
        padding: 20px 10px 30px;
        color: #fff;
        text-align: center;
        transition: transform 0.7s;
        transform: translate3d(100%, 0, 0) rotateY(-45deg);
        will-change: transform;
    }
    .credits-active .demo-cont__credits {
        transition: transform 0.7s 0.2333333333s;
        transform: translate3d(0, 0, 0);
    }
    .demo-cont__credits *, .demo-cont__credits *:before, .demo-cont__credits *:after {
        box-sizing: border-box;
    }
    .demo-cont__credits-close {
        position: absolute;
        right: 40px;
        top: 35px;
        cursor: pointer;
        font-size:20px;
        font-weight:  normal !important;
    }
    .demo-cont__credits-heading {
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .demo-cont__credits-img {
        display: block;
        width: 60%;
        margin: 0 auto 30px;
        border-radius: 10px;
    }
    .demo-cont__credits-name {
        margin-bottom: 20px;
        font-size: 30px;
    }
    .demo-cont__credits-link {
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        color: #fff;
    }
    .demo-cont__credits-blend {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .example-slider {
        z-index: 2;
        transform: translate3d(0, 0, 0);
        transition: transform 0.7s;
    }
    .credits-active .example-slider {
        transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
    }
    .example-slider .fnc-slide-1 .fnc-slide__inner,
    .example-slider .fnc-slide-1 .fnc-slide__mask-inner {
        background-image: url("../img/1.JPEG");
    }
    .example-slider .fnc-slide-2 .fnc-slide__inner,
    .example-slider .fnc-slide-2 .fnc-slide__mask-inner {
        background-image: url("../img/2.JPEG");
    }
    .example-slider .fnc-slide-3 .fnc-slide__inner,
    .example-slider .fnc-slide-3 .fnc-slide__mask-inner {
        background-image: url("../img/3.jpeg");
    }
    .example-slider .fnc-slide-3 .fnc-slide__inner:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
    }
    
    /* COLORFUL SWITCH STYLES 
         ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
    .colorful-switch {
        position: relative;
        width: 180px;
        height: 77.1428571429px;
        margin: 0 auto;
        border-radius: 32.1428571429px;
        background: #cfcfcf;
    }
    .colorful-switch:before {
        content: "";
        z-index: -1;
        position: absolute;
        left: -5px;
        top: -5px;
        width: 190px;
        height: 87.1428571429px;
        border-radius: 37.1428571429px;
        background: #314239;
        transition: background-color 0.3s;
    }
    .colorful-switch:hover:before {
        background: #4C735F;
    }
    .colorful-switch__checkbox {
        z-index: -10;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .colorful-switch__label {
        z-index: 1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 32.1428571429px;
        cursor: pointer;
    }
    .colorful-switch__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 540px;
        height: 100%;
        background: linear-gradient(90deg, #14DCD6 0, #10E7BD 180px, #EF9C29 360px, #E76339 100%);
        transition: transform 0.5s;
        transform: translate3d(-360px, 0, 0);
    }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {
        transform: translate3d(0, 0, 0);
    }
    .colorful-switch__dot {
        position: absolute;
        left: 131.1428571429px;
        top: 50%;
        width: 5.1428571429px;
        height: 5.1428571429px;
        margin-left: -2.5714285714px;
        margin-top: -2.5714285714px;
        border-radius: 50%;
        background: #fff;
        transition: transform 0.5s;
        transform: translate3d(0, 0, 0);
    }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot {
        transform: translate3d(-80.3571428571px, 0, 0);
    }


@media screen and (max-width: 1100px) {
        .demo-cont {
                background-position: center;
                background-size: 120% auto;
               
        }

    .modal:last-child:not( .modal:last-child > div) {  margin-left: 0 !important;}
        .modal:first-of-type {
              
                padding: 100px 0 50px 0!important;
       margin-left: 10% !important;
            }
        
        h2 {
               font-size: 35px !important;
                
        }
 
        .fnc-nav__control {font-size: 16px !important; width: 130px !important; height: fit-content !important; padding: 20px;}
        td {
                font-size: 18px;
                letter-spacing: 1.5px !important;
                padding: 8px !important;
        }
        .modal {padding-left: 0 !important;}
        td.gen {padding: 0 15px 0 0 !important;}
        td:first-child {font-weight: bold; padding-right: 0px;  font-size: 18px;}

        .fs-13 {font-size: 14px; letter-spacing: 0px !important; font-weight: bold;}
        th {font-size: 16px; letter-spacing: 0.5px;}
        th:first-of-type {width: fit-content;}
        th:last-of-type  { width: 190px !important;}
        .modal:first-child table {width: fit-content !important; margin: auto !important;}
        th:not(th:first-of-type) { width: 140px !important;}
        h3 {font-size: 22px !important; margin-top: 40px !important;}        li, p {font-size: 17px !important;}
        .modal:nth-child(2) td:not(td.year) {font-size: 16.5px !important; letter-spacing:  0.3px !important;}
        .modal:nth-child(2) footer {margin-top: 50px !important;}
        td.year {font-size: 16px !important; letter-spacing: 3px !important; padding-right: 30px !important;}
        body{ overflow: scroll !important;}
        .demo-cont {
                background-image: url("../img/bg.png");
                background-size: 140vw 200vh !important;
                background-position: 20% 0 !important;
        }
        .demo-cont__credits {width: 100%; top: 0;}
        html {overflow: scroll !important}
                .modal {
                        width: 80% !important;
                        padding: 0  0 40px 0!important;
                        overflow: hidden !important;
                        height: fit-content !important;
                        padding-top: 80px !important;
                        margin-left: 10% !important;
                }

                

                h2{margin-top: 30px; margin-bottom: 80px !important;}
#team  {margin-left: 0% !important; flex-direction: row !important; flex-wrap:wrap !important; justify-content: center !important; align-items:baseline!important;}
#team article {width: 35% !important;} 

#team article:first-child {margin-right: 70px;}
#team article:last-child {margin-left: 70px;}
      
    .demo-cont__credits-close {
        right:0px !important;
        top: 35px;
    }
.modal:last-of-type { flex-direction: column !important; justify-content: center !important; align-items: center !important; left: 7%;}
    
}


@media screen and (max-width: 880px) {
        .modal:first-of-type {
                padding: 100px 0 50px 0 !important;
                width: 95% !important;
                margin-left: 2% !important;
            }

            .modal:nth-child(2)  {width: 90% !important; padding-left: 0 !important; margin-left: 2% !important;}
}


@media screen and (max-width: 730px) {
        .modal:first-of-type {
                width: 95% !important;
                margin-left: 0% !important;
            }

            .modal:nth-child(2)  {width: 90% !important; padding-left: 0 !important; margin-left: 2% !important;}
}



@media screen and (max-width: 700px) {
   
        .modal:nth-child(2)  {width: 95% !important; padding-left: 0 !important; margin-left:  0 !important;}
        .demo-cont__credits-close {right: 40px !important;}
}
@media screen and (max-width: 670px) {
        td {
                font-size: 17px;
                letter-spacing: 1.5px !important;
                padding: 8px !important;
        }
        td.gen {padding:  0 10px 0 0 !important; font-size: 17px !important;}
        td:first-child {font-weight: bold; padding-right: 0px;  font-size: 18px;}
        th {font-size: 12px; letter-spacing: 0.5px; font-weight: 700 !important;}
        th:first-of-type {width: 50px;}
        th:last-of-type  { width: fit-content;}
        .modal:first-child table {width: 100% !important; margin: 0 auto !important;}
        #t-hide {margin-left: 15px !important;}
        th:not(th:first-of-type, th:last-of-type) { width: 21% !important;}
        .fs-13 {font-size: 12px; letter-spacing: 0px !important; font-weight: bold;}
}
#t-show1 {display: none !important;}

@media screen and (max-width: 620px) {
       
        .fnc-nav__control {font-size: 16px !important; width: calc(100%/3) !important; height: fit-content !important; padding: 22px 0;}
        .modal:nth-child(2) h2 {margin-bottom: 80px !important;}
        .modal:nth-child(2) td:not(td.year) {font-size: 15px !important; letter-spacing:  0.5px;}
        .modal:nth-child(2)   td.year {font-size: 16px !important; letter-spacing: 3px !important; padding-left: 15px !important;}
.fnc-nav__controls {width: 100vw !important; display: flex !important; flex-direction: row !important;}
}

ul:not(.modal ul) {list-style-type: none !important;}
@media screen and (max-width: 575px) {
        #t-hide {display: none;}
        td.year {font-size: 16px !important; letter-spacing: 3px !important; padding-right: 10px !important;}
        td.year {width: fit-content !important;}
        #t-show {display: block !important;}
        #t-show {margin-left: 0 !important;}
        #t-show td:first-child {font-size: 13.5px; letter-spacing: 0px !important;}
        #t-show th:first-child {width:20% !important;}
        #t-show th:last-child {width:25% !important;}
        #t-show th:nth-child(2) {width:28% !important;}
        #t-show  th {font-size: 17px; padding: 10px 0;}
        #t-show th:first-child {width:20% !important;}
        #t-show th:last-child {width:25% !important;}
        #t-show th:nth-child(2) {width:30% !important;}
        .modal:first-child > * {text-align: center;}
        ul {list-style-type: none !important;}
        .modal li:not(li:last-child) {margin-bottom: -5px !important;} 
       .modal li:not(li:first-of-type)::before {content: "\22EF"; display: block; width: fit-content; height: fit-content; margin: 0 auto; font-size: 35px;}
        .modal:first-child {width:120% !important; margin-left: -4% !important; padding-left: 0 !important; padding-right: 0 !important;}
}

@media screen and (max-width: 640px) {
        #social-media .nav {display: flex !important; flex-direction: column !important; align-items: flex-end !important; text-align: right !important;}
        #social-media {right: 40px !important;}
        #social-media .nav li:not(li:last-child) {margin-bottom: 5px !important;}
        #social-media li {margin-left:  0 !important; margin-right:  0 !important;}
}


@media screen and (max-width: 550px) {
        #logo {width: 70px !important; top: 25px !important;}
     
}
@media screen and (max-width: 560px) {
        .modal:nth-child(2){width: 100% !important; padding-left: 0 !important; margin-left: -3%!important;}
        h2{margin-top: 30px; margin-bottom: 40px !important;}
        #team  {flex-direction: column !important; flex-wrap:wrap !important; justify-content: center !important; align-items:center!important;}
        #team article {width: 60% !important;} 
        .modal:first-of-type p, li {font-size: 15.5px !important;}
        #team article:first-child {margin-right: 0;}
        #team article:last-child {margin-left: 0;}
        .modal:nth-child(2) {text-align: center !important;}
        .modal:nth-child(2)   td.year {font-size: 17px !important; width: 100%; letter-spacing: 5px !important; }
   .fnc-slide:nth-of-type(2) .fnc-slide__action-btn{top: 10px !important;}
   .fnc-slide:last-child .fnc-slide__action-btn{top: -60px !important;}
        .modal:nth-of-type(2)  table {width: 100% !important;}
        .modal:nth-child(2) td:not(td.year),  .modal:nth-child(2) td p  {font-size: 15px !important; padding-right: 0 !important; font-weight: normal !important;}
        .modal:nth-child(2) h2 {margin-bottom: 50px !important;}
        .fnc-slide:first-child  .fnc-slide__action-btn {top: 0px !important;}

        .modal:nth-child(2) table {text-align: center !important;}
        .modal:first-child { width: 107vw !important; margin-left: -8% !important;}
        .modal:first-child ul {margin-left: 0 !important;}
                #t-hide1 {display: none;}
                #t-show1 * {padding: 0 !important;}
                #t-show1 {display: block !important;
                        ;}
                        .modal:nth-of-type(2) * {text-align: center !important;}
                        #left table {text-align: center !important;}
                       
                        #left table td:first-child {
                                padding: 10px 0;
                        
                                width: 100% !important; 
                                display: block !important;
                                flex-direction: column;
                                align-items: center !important;
                                justify-content: center !important;
                                letter-spacing: 2px;
                                height: fit-content !important;
                        }
                        #left table tr td p:first-of-type  {padding-top: 25px !important;}

                        #left table td:first-child {display: block !important; text-align: center !important; }
    }

    @media screen and (max-width: 500px) {
        #t-show th:first-child {width:15% !important;}
        #t-show th:last-child {width:25% !important;}
        #t-show th:nth-child(2) {width:35% !important;}
        .modal:first-child > * {text-align: center;}
        .modal:last-of-type {  margin-left: 0% !important;}
    
    }
    @media screen and (max-width: 460px) {
        #t-show  .fs-13 {font-size: 11px !important;}
        #t-show  td:not(td.fs-13, td:first-child) {font-size: 17px !important;}
        #t-show td:first-child {font-size: 12.5px !important;}
        #t-show th:first-child {width:15% !important;}
        #t-show th:nth-child(2) {width:35% !important;}
        #t-show th:last-child {width:35% !important;}
        
#left table td:first-child {
        padding: 5px 20px 5px 0;
       

}

}

@media screen and (max-width: 400px) {
        #team article {width: 70% !important;} 
        .modal:last-of-type {  left: 5% !important;}
}

@media screen and (max-width: 1700px) {
        .demo-cont[data-modal = "Team"] {
                background-size: 540px 105%;
        }

        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 580px 105%;
        }

        .modal:first-child {padding-left: 65px !important; padding-right: 45px !important;}

        .demo-cont[data-modal = "Roadmap"] {
                background-size: 570px 105%;
        }
       
}

@media screen and (max-width: 350px) {
        .modal:last-of-type {  left: 2% !important;}
}


@media screen and (max-width: 1580px) {
        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 560px 105%;
        }

        .modal:first-child {padding-left: 75px !important; padding-right: 45px !important;}
}

@media screen and (max-width: 1500px) {
        .demo-cont[data-modal = "Roadmap"] {
                background-size: 555px 105%;
        }
        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 550px 105%;
        }
       
}



@media screen and (max-width: 1420px) {
        .demo-cont[data-modal = "Roadmap"] {
                background-size: 530px 105%;
        }

        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 540px 105%;
        }

        .modal:nth-child(2) {padding-left: 50px;}
       
}

@media screen and (max-width: 1320px) 
{
        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 530px 105%;
        }

        .modal:first-child {padding-left: 85px !important; padding-right: 40px !important;}
}
@media screen and (max-width: 1250px) {
        .demo-cont[data-modal = "Roadmap"] {
                background-size: 510px 105%;
        }
        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 520px 105%;
        }


        .modal:nth-child(2) {padding-left: 65px !important; padding-right: 35px!important;}
       td.year {font-size: 14px !important;}
}
@media screen and (max-width: 1250px) {
        .demo-cont[data-modal = "Roadmap"] {
                background-size: 510px 105%;
        }
}

@media screen and (max-width: 1190px) {
        .demo-cont[data-modal = "Whitepaper"] {
                background-size: 505px 105%;
        }

        .modal:first-child {padding-left: 85px !important; padding-right: 40px !important;}
}
@media screen and (max-width: 1350px) {
        .demo-cont[data-modal = "Team"] {
                background-size:490px 105%;
        }
       .modal:last-child:not( .modal:last-child > div) {margin-left: 25px !important; overflow-x: hidden !important;}
}

.none {display: none !important;}
